body
{
    background-image: url(https://cdn.discordapp.com/attachments/886234791807156294/1133088587236249690/bgsite.png);
}

#bgall {
    width: 800px;
    margin:0 auto;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Lilita One', cursive;
}

p1 {
    font-family: 'Saira Condensed', sans-serif;
    line-height: 150%;
}

a {
    color: rgb(59, 255, 164);
}
